@use 'variables' as *;
.btn{
    background: $dark-primary-color;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    border:2px solid $hover-color;
    outline:none;
    color:$link-color;
    transition: all 0.1s ease-in-out;
    &:active{
        background-color: $btn-active-color;
    }
}