@use 'error_screen';
@use 'variables' as *;

body{
    background-color: $primary-color;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "left_bar top_bar"
    "left_bar textbox";
    row-gap: 20px;
    #loading_screen{
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: $primary-color;
        z-index: 2;
        top:0;
        opacity: 0;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 500ms;
        h1{
            color:white;
        }
        &.loading{
            opacity: 1;
            visibility: visible;
        }
    }
    height: 100vh;
}