@use 'variables' as *;
$animation_time: 500ms;

#left{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    gap:25px;
    grid-area: left;
    background-color: $secondary-color;
    font-family: 'Roboto', sans-serif;
    border: 10%;
    align-items: center;

    ul{
        list-style: none;
        margin: 0;
        width: 100%;
        padding: 0;
        &#current_entry{
            li{
                margin-bottom: 0;
            }
        }
        li{
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color:$link-color;
            margin-bottom: 1.5rem;
            .entry_item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $dark-primary-color;
                width: 95%;
                align-items: center;
                padding: 5px 0;
                font-size: 1.3rem;
                margin-bottom: 10px;
                text-align: center;
                transition: all ease-in-out 200ms;
                a, a:visited{
                    color:$link-color;
                }

                #date_label{
                    color:$muted-color;
                    font-size: 1.2rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                &:hover{
                    box-shadow: 0 0 5px 1px $hover-color;
                }
                &.selected{
                    background-color: $active-color;
                }
                &.chosen{
                    transform: scale(0.9);
                    box-shadow: 0 0 5px 2px $selected-color;
                    &:hover{
                        box-shadow: 0 0 5px 2px $selected-color;
                    }
                }
            }
        }
    }
    .top_left{
        display: flex;
        justify-content: center;
        align-items: center;
        &_text{
            text-align: center;
            font-size: 2rem;
            color:$white-shade;
        }
    }
    .entry_controls{
        height: 2.5rem;
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        background-color: $dark-primary-color;
        transition: box-shadow ease-in-out 200ms;
        h1{
            font-size: 1.5rem;
            color:$heading-color;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
        }
        &:hover{
            box-shadow: 0 0 5px 1px $hover-color;
        }
    }
    #delete_entry{
        box-sizing: border-box;
        display: flex;
        height: 0;
        h1{
            font-size: 0;
        }
        &:hover{
            cursor: pointer;
        }
        &.visible{
            display: flex;
            h1{
                animation-name: font_slide;
                animation-duration: $animation_time;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                @keyframes font_slide {
                    from {font-size: 0rem;}
                    to {font-size: 1.5rem;}
                }
            }
            animation-name: slide;
            animation-duration: $animation_time;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            @keyframes slide {
                from {height: 0;}
                to {height: 2.5rem;}
            }
        }
    }
    .not_visible{
        margin:0;
        display: flex;
        h1{
            animation-name: back_font_slide;
            animation-duration: $animation_time;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            @keyframes back_font_slide {
                from {font-size: 1.5rem;}
                to {font-size: 0rem;}
            }
        }
        animation-name: back_slide;
        animation-duration: $animation_time;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        @keyframes back_slide {
            from {height: 2.5rem;}
            to {height: 0;}
        }
    }

}

a{
    text-decoration: none;
}

#delete_entry.deleted{
    display: none !important;
}