@use 'variables' as *;

.menu-wrap .menu > div > div > ul > li{
    background-color: $dark-primary-color;
    color:$link-color;
    margin: 1em 0;
    padding: 1em 3em;
    transition: all ease-in-out 200ms;
    &:hover{
        box-shadow: 0 0 5px 1px $hover-color;
        transform: scale(1.05);
    }
}