@media screen and (max-width:1250px){
    .menu-wrap{
        display: flex;
        padding:1em;
        #nav_links{
            display: none;
        }
        .hamburger{
            position: absolute;
            top:7;
            left: 0;
        }
    }
    #left{
        display: none;
    }
    body{
        
    }
    #brand_name{
        h1{
            margin:0;
        }
    }
}
@media (max-width:700px){
    .top{
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }
    #content .textbox .top .title{
        width: 100%;
        text-align: center;
    }
    #content .textbox .top .saveNow{
        margin-left: 0;
    }
    .ql-toolbar{
        display: none;
    }
    #content .textbox .top #date{
        margin-left: 0;
    }
    #words{
        text-align: center;
    }
}

@media (min-width:1251px){
    .menu-wrap {
        justify-content: flex-start;
        padding:1em;
        .hamburger{
            display: none;
        }
        #nav_links{
            margin-left: auto;
        }
    }
    #brand_name h1{
        margin-left:0;
    }

    #content{
        position: relative;
        left: 300px;
        top:7rem;
        width: calc(100vw - 400px);
    }


}