@media (max-width:1250px){
    #left{
        display: none;
    }
    body{
        grid-template-columns: 1fr;
        grid-template-areas: "textbox";
    }
    .top{
        flex-direction: column;
        justify-content: space-between;
    }
}