@use 'variables' as *;

.menu-wrap{
    background-color: $secondary-color;
    width: 100%;
    grid-area: nav_bar;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    #nav_links{
        color:white;
        display: flex;
        justify-content: space-evenly;
        li{
            list-style: none;
            position: relative;
            font-size: 18px;
            &::before{
                position: absolute;
                top:-25px;
                width: 3.5em;
                height: 4px;
                margin-left: 3px;
                transform: scale(0);
                background-color: $selected-color;
                content: '';
                transition: all ease 500ms;
            }
            &:hover::before{
                transform: scale(1);
            }
            a{
                color:$hover-color;
                &:visited{
                    color:$hover-color;
                }
            }
        }
        width: 20%;
    }
}

#brand_name{
    color:$selected-color;
    font-family: 'Roboto';
    text-align: center;
    width: 20%;
    text-align: center;
    h1{
        margin-left: -130%;
        font-family: 'Dancing Script', cursive;
        color:$neon-glow-color;
    }
    // margin-left: 50px;
}