$primary-color: #070014;
$secondary-color: #10002b;
$link-color: #e0aaff;
$hover-color: #c77dff;
$active-color: #3c096c;
$selected-color: #f72585;
$muted-color:#adb5bd;
$white-shade:#f8f9fa;
$dark-primary-color:#240046;
$heading-color:#caf0f8;
$btn-active-color:#10002b;
$neon-glow-color: #6930c3;
$editor-text-color:#BFBFBF;