// light mode variables

$body-color: #edf2fb;
$text-box-color: $body-color;
$link-color: #e0aaff;
$text-box-shadow-color: #adb5bd;
$hover-color: $text-box-shadow-color;
$editor-text-color:black;
$pane-color:rgba($body-color, 0.9);
$editor-background-color:$text-box-color;
$title-color: #3d5a80;
$toolbar-shadow-color: #ced4da;


$entry-color:#c1d3fe;
$entry-text-color:#212529;
$entry-date-color:#495057;
$entry-selected-color:#ced4da;
$word-count-color:#495057;
$input-color:#edf2f4;
$login-btn-color:#3a86ff;