<div id="entry_flash">
	<h1 class="flash_heading">

	</h1>
	<div class="dismiss">
		<svg width="20" height="20" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
			<line class="line" x1="0.353553" y1="0.646447" x2="30.3536" y2="30.6464" stroke="black" />
			<line class="line" x1="0.646447" y1="30.6464" x2="30.6464" y2="0.646445" stroke="black" />
		</svg>
	</div>
</div>