<% if(success && success.length) {%>
    <div class="success">
        <%= success %>
    </div>
    <% } %>
<% if(error && error.length) {%>
    <div class="error">
        <%= error %>
    </div>
<% } %>