<div id="left">
    <div id="new_entry" class="entry_controls">
        <a href="/">
            <h1>New Entry</h1>
        </a>
    </div>
    <div id="rand_entry" class="entry_controls">
        <a href="/entry/random">
            <h1>Random Entry</h1>
        </a>
    </div>
    <div id="delete_entry" class="entry_controls deleted">
        <h1>Delete Selected Entries</h1>
    </div>
    <div class="top_left">
        <span class="top_left_text">
            Current Entry
        </span>
    </div>
    <ul id="current_entry">

    </ul>
    <div class="top_left">
        <span class="top_left_text">
            Recent Entries
        </span>
    </div>
    <ul id="entry_list">
        <% for( let entry of entries) { %>
            <li>
                <div class="entry_item" id="<%= entry._id %>">
                    <div>
                        <a href="/entry/<%= entry._id %> "><%= entry.title %></a>
                    </div>
                    <div id="date_label">
                        <%= new Intl.DateTimeFormat('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }).format(entry.date) %> 
                    </div>
                </div>
            </li>
        <% } %>
    </ul>
</div>