<div id="loading_screen" class="loading">
    <div id="container">
        <div id="circle-one" class="circle"></div>
        <div id="circle-two" class="circle"></div>
        <div id="circle-three" class="circle"></div>
    </div>
</div