<div class="menu-wrap">
    <div class="hamburger">
        <div></div>
    </div>
    <div id="brand_name">
        <h1>Dear Diary</h1>
    </div>
    <ul id="nav_links">
        <li> <a href="#">About Us</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log Out</a></li>
    </ul>
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li><a href="/">View Entry</a></li>
                    <li><a href="/entry">Random Entry</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>