<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 Not Found</title>
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/errorScreen/styles.css">
</head>

<body>
	<div class="container">
		<div class="info">
			<h1>
				<%= name %>
			</h1>
			<h2>
				Status Code - <%= status %>
			</h2>
			<% for( let para of paragraphs ) { %>
				<p>
					<%= para %> 
				</p>
			<% } %>
			<a href="/entry/new" class="btn">Return Back</a>
		</div>
		<div class="gif">
			<img src="https://media1.tenor.com/images/84e36470c3e534a5e71c208cd872d177/tenor.gif?itemid=6108221"
				alt="Cat typing on keyboard">
		</div>
	</div>
</body>

</html>