<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DearDiary</title>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/home/styles.css">
</head>

<body>
	<div class="card">
		<div class="product_name">Dear Diary</div>
		<div class="tag_line">Free. Secure. Safe. Forever.</div>
		<a href="/entry/new" class="login">Start Writing</a>
		<p class="learn_more">Read more about our project <a href="https://github.com/TheTrio/DearDiary">here</a></p>
	</div>
</body>

</html>