<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="company">
            <div class="company_text">
                Dear Diary
            </div>
        </div>
        <form action="/login" method="POST">
            <div class="form_pair">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form_pair">
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="form_pair btn_container"><button class="btn">Log In</button></div>
        </form>
        <p>
            Not registered? Register for free <a href="/register">here</a>
        </p>
    </div>
</body>

</html>