@use '../variables' as *;

.btn{
    padding:1em 2em;
    border-radius: 0.5em;
    background-color: $login-btn-color;
    border:none;
    box-shadow: 0 0 7px 0 black;
    transition: all ease-in-out 200ms;
    color:white;
    &:active{
        box-shadow: 0 0 5px black;
        background-color: darken($login-btn-color, 10);
    }
}