body{
    background-image: url('../../images/home.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgba(#C4C4C4, 0.75);
    padding:1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ced4da;
    flex-direction: column;
    border-radius: 1rem;
    gap:1rem;
    form{
        display: flex;
        flex-direction: column;
        gap:1em;
    }
    .form_pair{
        display: flex;
        gap:20px;
        font-size: 20px;
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
        label{
            width: 150px;
            display: flex;
            align-items: center;
            color:#000;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
        input{
            font-size: 16px;
            width: 300px;
            height: 30px;
            font-family: 'Roboto', sans-serif;
        }
        &.btn_container{
            display: flex;
            justify-content: center;
            margin:0;
        }
    }
    .text{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        color:#676767;
    }
}