<% layout('layouts/boilerplate') %>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/xcatliu/simplemde-theme-dark@master/dist/simplemde-theme-dark.min.css"
/>
<div id="content">
  <div class="textbox">
    <div class="top">
      <input
        type="text"
        name="title"
        id="title"
        class="title"
        form="form"
        placeholder="Title goes here"
        autocomplete="off"
      />
      <input type="submit" value="Save Now" form="form" class="saveNow btn" />
      <input type="date" name="date" id="date" disabled />
    </div>
    <textarea id="markdownEditor"></textarea>
  </div>
</div>
<script>
  let id = '<%= id %>'
  let entry = JSON.parse(
    decodeURIComponent(escape(window.atob('<%= entry %>')))
  )
</script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/setEntry.js"></script>
<script src="/js/edit.js"></script>
