<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" href="css/login/styles.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <div class="container">
            <div class="text">New Account</div>
            <%- include('../partials/flash') %>
            <form action="/register" method="POST">
                <div class="form_pair">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required />
                </div>
                <div class="form_pair">
                    <label for="username">Email</label>
                    <input type="email" name="email" id="email" required />
                </div>
                <div class="form_pair">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        required
                    />
                </div>
                <!-- <div class="form_pair">
				<label for="password">Confirm Password</label>
				<input type="password" name="confirm_password" id="password">
			</div> -->
                <div class="form_pair btn_container">
                    <button class="btn">Register</button>
                </div>
            </form>
            <p>Have an account? Click <a href="/login">here</a> to log in</p>
        </div>
    </body>
</html>
