@use '../login/button' as btn;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}
.container {
    height: 100vh;
    background-image: url("../../images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
        width: 700px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-family: "Roboto";
        text-align: center;
        background-color: rgba(black,0.6);
        padding:1.5rem 3rem;
        color:white;
        border-radius: 10px;
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 1.5rem;
        }
        .btnContainer{
            display: flex;
            justify-content: space-around;
            gap:15px;
            a{
                cursor: pointer;
            }
        }
    }
}

.content{
    font-family: 'Roboto';
    h1{
        font-size: 5rem;
        color:#3c096c;
    }
    .card_container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .card{
            padding:0 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .p_container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap:1em;
                p{
                    font-size: 3rem;
                    font-family: 'Nunito';
                }
            }
        }

    }
}

.nextCard{
    
}