@use '../variables' as *;
.btn{
    padding:0.5em 1em;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    border:none;
}

body.dark{
    .btn{
        background-color: $btn-color-dark;
        &:active, &:focus,&:hover{
            background-color: darken($btn-color-dark, 4);
        }
    }
}