@use '../variables' as *;
#content{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    height: 100%;
    &.scrollable{
        overflow: clip;
    }
    .textbox{
        grid-area: textbox;
        background-color: $text-box-color-light;
        box-shadow: 0 0 5px 0 $text-box-shadow-color-light;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1em;
        border-radius: 1em;
        // min-width: 500px;
        margin-top: 15px;
        #words{
            color:$word-count-color-light;
            padding-bottom: 1em;
        }
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1em;

            .title{
                font-family: 'Roboto', sans-serif;
                width: 70%;
                letter-spacing: 1px;
                outline: none;
                background: none;
                border:none;
                font-size: 2rem;
                font-weight: bold;
                transition: transform 0.5s ease;
                color:$title-color-light;
            }
            .saveNow{
                margin-left: auto;
            }
            #date{
                margin-left: 10px;
                background-color: $body-color-light;
                color:black;
                outline: none;
                border-radius: 0.3rem;
            }
        }
        .ql-toolbar{
            // background-color: $secondary-color;
            // border:2px solid blue;
            border:none;
            box-shadow: 0 0 5px 3px $toolbar-shadow-color-light;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        #editor{
            // min-height: 70vh;
            // max-width: 100%;
            background-color:$editor-background-color-light;
            transition: transform 0.5s ease-in-out;
            opacity: 0.8;
            border:none;
            color:$editor-text-color-light;
        }
        .ql-editor{
            padding:12px 0;
        }
        .ql-editor.ql-blank::before{
            color:$editor-text-color-light;
            font-size:17px;
        }
    }
}

#editor{
    h3{
        font-weight: normal;
        font-family: 'Roboto';
    }

    h2{
        font-weight: normal;
        font-family: 'Roboto';
    }

    p{
        font-size: 17px;
        font-family: 'Roboto';
    }
    
}

.invalid{
    box-shadow: 0px 0px 3px 1px red;
}

.valid{
    box-shadow: 0px 0px 3px 1px green;
}

.invalid.big{
    transform: scale(1.01);
}

#content .textbox .ql-editor.ql-blank::before {
	color: $editor-text-color-light;
	font-size: 17px;
	font-family: 'Roboto';
}