@use 'error_screen';
@use '../variables' as *;

body{
    background-image: url('../../images/entry.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "top_bar"
    "textbox";
    row-gap: 20px;
    height: 100vh;
    &.unscroll{
        overflow: hidden;
    }
    overflow-x: hidden;
}

.stop-transition{
    transition: none !important;
}