@use '../variables' as *;
$animation_time: 500ms;

#left{
    box-sizing: border-box;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    grid-area: left;
    background-color: $pane-color-light;
    font-family: 'Roboto', sans-serif;
    border: 10%;
    align-items: center;
    position: absolute;
    left: -350px;
    width: 350px;
    z-index: 3;
    top:0;
    padding-top: 50px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: visible;
    transition: left ease $animation_time;
    li:last-of-type{
        margin-bottom: 1em;
    }
    .left_container{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap:1rem;
        margin-right: 0.5rem;
    }
    ul{
        list-style: none;
        margin: 0;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap:1rem;
        li{
            display: flex;
            justify-content: center;
            align-items: center;
            color:$entry-text-color-light;
            max-width: 300px;
            .entry_item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $entry-color-light;
                width: 95%;
                align-items: center;
                padding: 5px 0;
                font-size: 1.3rem;
                // margin-bottom: 10px;
                position: relative;
                text-align: center;
                transition: all ease-in-out 200ms;
                max-width: 270px;
                a, a:visited{
                    color:$entry-text-color-light;
                }

                #date_label{
                    color:$entry-date-color-light;
                    font-size: 1.1rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                &:hover{
                    box-shadow: 0 0 5px 1px $hover-color-light;
                }
                &.selected{
                    background-color: $entry-color-light;
                }
                &::after{
                    position:absolute;
                    top:15px;
                    right: -40px;
                    content: "\01F5D1";
                    font-size: 30px;
                    opacity: 0;
                    color: $entry-date-color-light;
                    transition: all ease 500ms;
                }
                &.showDustbin::after{
                    opacity: 1;
                    cursor: pointer;
                }
            
            }
        }
    }
    .top_left{
        display: flex;
        justify-content: center;
        align-items: center;
        &_text{
            text-align: center;
            font-size: 2rem;
            color:$entry-text-color-light;
        }
    }
    .entry_control{
        &::after{
            display: none;
        }
    }

    &.moveRight{
        left:0;
    }

}

a{
    text-decoration: none;
}
