@use 'variables' as *;
$animation_time: 500ms;

#left{
    box-sizing: border-box;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap:15px;
    grid-area: left;
    background-color: $pane-color;
    font-family: 'Roboto', sans-serif;
    border: 10%;
    align-items: center;
    position: absolute;
    left: -350px;
    width: 350px;
    z-index: 3;
    top:0;
    padding-top: 50px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: visible;
    transition: all ease $animation_time;
    ul{
        list-style: none;
        margin: 0;
        width: 100%;
        padding: 0;
        &#current_entry{
            li{
                margin-bottom: 0;
            }
        }
        li{
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color:$entry-text-color;
            margin-bottom: 1.5rem;
            max-width: 300px;
            .entry_item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $entry-color;
                width: 95%;
                align-items: center;
                padding: 5px 0;
                font-size: 1.3rem;
                // margin-bottom: 10px;
                position: relative;
                text-align: center;
                transition: all ease-in-out 200ms;
                max-width: 270px;
                a, a:visited{
                    color:$entry-text-color;
                }

                #date_label{
                    color:$entry-date-color;
                    font-size: 1.2rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                &:hover{
                    box-shadow: 0 0 5px 1px $hover-color;
                }
                &.selected{
                    background-color: $entry-color;
                }
                &::after{
                    position:absolute;
                    top:20px;
                    right: -40px;
                    content: '🗑';
                    font-size: 30px;
                    opacity: 0;
                    color: $entry-date-color;
                    // background-color: $pane-color;
                    transition: all ease 500ms;

                }
                &.showDustbin::after{
                    opacity: 1;
                    cursor: pointer;
                }
            
            }
        }
    }
    .top_left{
        display: flex;
        justify-content: center;
        align-items: center;
        &_text{
            text-align: center;
            font-size: 2rem;
            color:$entry-text-color;
        }
    }
    .entry_control{
        margin-bottom: 0 !important;
        &::after{
            display: none;
        }
    }

    &.moveRight{
        left:0;
    }

}

a{
    text-decoration: none;
}