@use 'variables' as *;

.left_bar{
    // background-color:$body-color;
    grid-area: left_bar;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    left:0;
    z-index: 3;
    transition: all ease 500ms;
    
    .hamburger{
        font-size: 2em;
        cursor: pointer;
        transition: all ease 500ms;
        height: 50px;
    }

    &.moveRight{
        left:300px;
        background-color: $pane-color;
        .hamburger{
            transform: rotate(90deg);
        }
    }
}

.top_bar{
    // background: $body-color;
    grid-area: top_bar;
    width: 100%;
    z-index: -1;
    height: 50px;
}