@media screen and (max-width:1250px){
    
}
@media (max-width:700px){
    .top{
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }
    #content .textbox .top .title{
        width: 100%;
        text-align: center;
    }
    #content .textbox .top .saveNow{
        margin-left: 0;
    }
    .ql-toolbar{
        display: none;
    }
    #content .textbox .top #date{
        margin-left: 0;
    }
    #words{
        text-align: center;
    }
    body{
        background-image: url('../../images/mobile_login.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media (min-width:1251px){
    // .menu-wrap {
    //     justify-content: flex-start;
    //     padding:1em;
    //     .hamburger{
    //         display: none;
    //     }
    //     #nav_links{
    //         margin-left: auto;
    //     }
    // }
    // #brand_name h1{
    //     margin-left:0;
    // }

    // #content{
    //     position: relative;
    //     left: 300px;
    //     top:7rem;
    //     width: calc(100vw - 400px);
    // }


}