#leftNavBtn,
#rightNavBtn {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    transition: transform 300ms cubic-bezier(1, -0.59, 1, 1);
    &:hover {
        cursor: pointer;
    }
}

#leftNavBtn {
    left: -35px;
    // &.hover {
    //     transform: translateX(55px);
    // }
}

#rightNavBtn {
    right: -35px;
    // &.hover {
    //     transform: translateX(-55px);
    // }
}
