@charset "UTF-8";
#left {
  box-sizing: border-box;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-area: left;
  background-color: rgba(237, 242, 251, 0.9);
  font-family: "Roboto", sans-serif;
  border: 10%;
  align-items: center;
  position: absolute;
  left: -350px;
  width: 350px;
  z-index: 3;
  top: 0;
  padding-top: 50px;
  height: 90vh;
  overflow-y: auto;
  overflow-x: visible;
  transition: all ease 500ms;
}
#left ul {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
}
#left ul#current_entry li {
  margin-bottom: 0;
}
#left ul li {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212529;
  margin-bottom: 1.5rem;
  max-width: 300px;
}
#left ul li .entry_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c1d3fe;
  width: 95%;
  align-items: center;
  padding: 5px 0;
  font-size: 1.3rem;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  transition: all ease-in-out 200ms;
  max-width: 270px;
}
#left ul li .entry_item a, #left ul li .entry_item a:visited {
  color: #212529;
}
#left ul li .entry_item #date_label {
  color: #495057;
  font-size: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
#left ul li .entry_item:hover {
  box-shadow: 0 0 5px 1px #adb5bd;
}
#left ul li .entry_item.selected {
  background-color: #c1d3fe;
}
#left ul li .entry_item::after {
  position: absolute;
  top: 20px;
  right: -40px;
  content: "🗑";
  font-size: 30px;
  opacity: 0;
  color: #495057;
  transition: all ease 500ms;
}
#left ul li .entry_item.showDustbin::after {
  opacity: 1;
  cursor: pointer;
}
#left .top_left {
  display: flex;
  justify-content: center;
  align-items: center;
}
#left .top_left_text {
  text-align: center;
  font-size: 2rem;
  color: #212529;
}
#left .entry_control {
  margin-bottom: 0 !important;
}
#left .entry_control::after {
  display: none;
}
#left.moveRight {
  left: 0;
}

a {
  text-decoration: none;
}

#content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  height: 100%;
}
#content.scrollable {
  overflow: clip;
}
#content .textbox {
  grid-area: textbox;
  background-color: #edf2fb;
  box-shadow: 0 0 5px 0 #adb5bd;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  border-radius: 1em;
  margin-top: 15px;
}
#content .textbox #words {
  color: #495057;
  padding-bottom: 1em;
}
#content .textbox .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
#content .textbox .top .title {
  font-family: "Roboto", sans-serif;
  width: 70%;
  letter-spacing: 1px;
  outline: none;
  background: none;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  transition: transform 0.5s ease;
  color: #3d5a80;
}
#content .textbox .top .saveNow {
  margin-left: auto;
}
#content .textbox .top #date {
  margin-left: 10px;
  background-color: #edf2fb;
  color: black;
  outline: none;
  border-radius: 0.3rem;
}
#content .textbox .ql-toolbar {
  border: none;
  box-shadow: 0 0 5px 3px #ced4da;
  margin-bottom: 10px;
  border-radius: 5px;
}
#content .textbox #editor {
  background-color: #edf2fb;
  transition: transform 0.5s ease-in-out;
  opacity: 0.8;
  border: none;
  color: black;
}
#content .textbox .ql-editor {
  padding: 12px 0;
}
#content .textbox .ql-editor.ql-blank::before {
  color: black;
  font-size: 17px;
}

#editor h3 {
  font-weight: normal;
  font-family: "Roboto";
}
#editor h2 {
  font-weight: normal;
  font-family: "Roboto";
}
#editor p {
  font-size: 17px;
  font-family: "Roboto";
}

.invalid {
  box-shadow: 0px 0px 3px 1px red;
}

.valid {
  box-shadow: 0px 0px 3px 1px green;
}

.invalid.big {
  transform: scale(1.01);
}

#content .textbox .ql-editor.ql-blank::before {
  color: black;
  font-size: 17px;
  font-family: "Roboto";
}

#error_screen {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #edf2fb;
  z-index: 2;
  opacity: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#error_screen h1 {
  color: black;
}
#error_screen .error_btn {
  font-size: 2rem;
  padding: 5px 15px;
}
#error_screen.visible {
  opacity: 0.8;
  visibility: visible;
}

body {
  background-image: url("../../images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "top_bar" "textbox";
  row-gap: 20px;
  height: 100vh;
}
body #loading_screen {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #edf2fb;
  z-index: 2;
  top: 0;
  opacity: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 500ms;
}
body #loading_screen h1 {
  color: black;
}
body #loading_screen.loading {
  opacity: 1;
  visibility: visible;
}
body.unscroll {
  overflow: hidden;
}

.btn {
  background: #edf2fb;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 1px #adb5bd;
  outline: none;
  color: black;
  transition: all 0.1s ease-in-out;
}
.btn:active {
  background-color: #e5ecf9;
}

@media (max-width: 700px) {
  .top {
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }

  #content .textbox .top .title {
    width: 100%;
    text-align: center;
  }

  #content .textbox .top .saveNow {
    margin-left: 0;
  }

  .ql-toolbar {
    display: none;
  }

  #content .textbox .top #date {
    margin-left: 0;
  }

  #words {
    text-align: center;
  }

  body {
    background-image: url("../../images/mobile_login.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.left_bar {
  grid-area: left_bar;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  z-index: 5;
  width: 50px;
  transition: all ease 500ms;
}
.left_bar .hamburger {
  font-size: 2em;
  cursor: pointer;
  transition: all ease 500ms;
  height: 50px;
}
.left_bar.moveRight {
  left: 290px;
}
.left_bar.moveRight .hamburger {
  transform: rotate(90deg);
}

.top_bar {
  grid-area: top_bar;
  width: 100%;
  z-index: -1;
  height: 50px;
}

* {
  margin: 0;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

/*# sourceMappingURL=styles.css.map */
